.container-home{
    padding: 90px;
    h1{
        font-weight: bolder;
        text-align: center;
        color: white;
        font-size: 5rem;
    }
    hr{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}